.cities-page {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

    .table-container {
        width: 100%;
        max-width: 900px;
    }

    .dialog-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .loading-container {
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
}